:root {
  /* Colours */
  --color-red: #ff4959;
  --color-black: #000;
  --color-white: #ffffff;
  --color-grey: #666666;
  --color-dark-grey: #333333;
  --color-light-grey: #999999;

  /* Layout */
  --container: 85rem;
}
